body{
  
  font-family:'Roboto';
}
.list-group-item {
  font-family:'Roboto';
  color: #676767;
}

.badge, .checkbox {
  float: right;
}

.dropdown-menu {
  padding-left: 0.375rem;
  width: 100%;
}

.fa-chevron-up:before {
    margin-right: 1.125rem;
}

.btn {
  width : 100%;
  text-align : left;
  padding : .375rem .75rem 0rem 1.375rem;
}

span#test1 {
  width: 100%;
}

.fa-chevron-down, .fa-chevron-down {
  margin-right: 1.125rem;
  padding-top: 2.5%;
}

.fa-check-square {
  color: #D6180A;
  align-content: center;
}

.gros {color:grey;border-color: grey;font-size: 1.125rem;}
input[type=checkbox] {display:none;}
input[type=checkbox] + label {cursor:pointer;}
input[type=checkbox] + label:before {font-family: FontAwesome;display: block;content: "\f096";width:1.125rem}
input[type=checkbox]:checked + label:before {content: "\f14a"; color:#D6180A;}

.list-group-item {
  margin-top: 0.450rem;
  margin-bottom: 0.450rem;
  background-color: #E9E9E9;
  font-family: "roboto regular";

}

.assos, .assos2 {
  background-color: #F7F7F7;
}

.valider{
  font-family: var(--main-mediumbutton-text-font);
  font-size: var(--main-mediumbutton-text-size);
  background-color: var(--main-white);
  border-radius : 22.5px!important;
  width: auto;
  border:2px solid: var(--main-grey);
  padding-top: 1px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
  color: var(--main-darkgrey);
}