:root {
    // Section
    --main-section-title-font: 'Verdana';
    --main-section-title-size: 21px;
    // Item
    --main-item-title-font: 'Roboto', sans-serif;
    --main-item-title-size: 19px;
    --main-item-title-color: var(--main-darkgrey);
    --main-item-date-font: 'Roboto', sans-serif;
    --main-item-date-weight: 100;
    --main-item-date-size: 15px;
    --main-item-date-color: var(--main-darkgrey);
    --main-item-content-font: 'Roboto', sans-serif;
    --main-item-content-size: 15px;
    --main-item-content-color: var(--main-darkgrey);
    // Button
    --main-bigbutton-text-font: 'Roboto', sans-serif;
    --main-bigbutton-text-size: 15px;
    --main-bigbutton-text-transform: uppercase;
    --main-mediumbutton-text-font: 'Roboto', sans-serif;
    --main-mediumbutton-text-size: 17px;
    --main-smallbutton-text-font: 'Roboto', sans-serif;
    --main-smallbutton-text-size: 14px;
}
