.tabs > a {
    text-align: center;
    line-height: var(--main-navheight);
    margin-right: auto;
    margin-left: auto;
    background-color:  var(--main-grey);
    border-right: 2px solid #fafafa;
}
#assoHomePage-content{
    text-align: justify;
    margin-top: 15px;
}
h3 {
    font-size: var(--main-item-title-size);
    font-family: var(--main-item-title-font);
}
.social-ico {
    vertical-align: sub;
}
.facebook-ico {
    color: var(--main-facebook);
}
.twitter-ico {
    color: var(--main-twitter);
}
.instagram-ico {
    color: var(--main-instagram);
}
.flickr-ico {
    color: var(--main-flickr);
}
.youtube-ico {
    color: var(--main-youtube);
}
.navbar-brand {
    font-size: var(--main-section-title-size);
    font-family: var(--main-section-title-font);
}
.thumbnail-img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: solid var(--main-white);
}
.html-full-img, .body-full-img, #wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
#wrapper td {
   vertical-align: middle;
   text-align: center;
   background-color: black;
}

.fa-angle-left{
    vertical-align: middle;
}