/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
body {
  margin-bottom:  var(--main-navheight); /* Margin bottom by footer height */
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--main-navheight); /* Set the fixed height of the footer here */
  line-height: var(--main-navheight); /* Vertically center the text there */
  background-color: var( --main-lightgrey);
}
.footer-ico {
  color: var(--main-darkgrey);
  text-align: center;
  line-height: var(--main-navheight);
  margin-right: auto;
  margin-left: auto;
}
.footer-ico-active {
  color: var(--main-red);
  text-align: center;
  line-height: var(--main-navheight);
  margin-right: auto;
  margin-left: auto;
}
.icon-link {
    display:inline-block;
    float:left;
    text-align:center;
}
.icon-link i {
    display:block;
    width:100%;
    clear:both;
}
